// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #F3F9D2;
$orange: #fd5f00;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$black: #0B0500;
$dark-green: #3E3D2A;
$light-green: #D1E3CC;
$light-blue: #9EB6C0;
$purple: #A53860;
