.catalogo-banner {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 200px;
  align-self: center;
  text-align: center;
  a {
    margin: 5px 0px;

  }

}

.catalogo-content {
  padding: 60px 100px 40px 100px;
  display: flex;
  flex-direction: column;
  .white {
    background-color: #F1F0EA;
  }
  th {
    a {
      color: #1338be;
    }
  }
}

.categorie-row{
  // background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  width: 100%;
}

.categoria-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 30px;
  border-bottom: solid 1px;
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.categoria-content {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  a {
    margin: 5px 0px;
    color: black;
    line-height: 2;
    font-size: 19px;
  }
}

.spacing-5 {
  margin: 5px 0px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  margin: 20px;
  text-align: center;
  border: solid 1px #4c4c4c;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  // box-shadow: 15px 20px 5px rgba(0,0,0,0.1);
  background-color: #e5e5e5;
  width: 800px;
  padding: 20px;
  p {
    margin-bottom: 30px;
  }
}

/* Dropdown menu */
.accordion-menu {
  margin-top: 15px;
  border-color: #E0DDCF;
  background-color: #E0DDCF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 2;
}
.accordion-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $black !important;
  // font-size: 15px !important;
  padding: 10px 20px;
}

.flower-list{
  margin: 30px 0px 40px 0px;

  li {
    list-style-type: "❀";
    padding-inline-start: 1ch;
    a {
        color: #31b753;
    }
  }
}

/* Sets serial number in front of table row */
.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}



.highlight {
  background-color: rgba(253, 95, 0, 0.5);
  border-radius: 2px;
  padding: 2px 3px;
  a {
    color: white;
  }
}

a[class~="highlight"] {
    color: white;
}
a[class~="highlight"]:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(253, 95, 0, 0.7);
}
a[class~="highlight"]:active {
  color: white;
  text-decoration: underline;
  background-color: rgba(253, 95, 0, 0.7);
}
