/* .catalogo-bg {
  background-image: url("banner2.jpg");
  background-size: cover;
}
 */
.catalogo-banner {
  width: auto;
  max-width: 1000px;
  align-self: center;
  background-position: 50% 50%;
  margin-bottom: 30px;
  color: white;
  h1, h2 {
    text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  }
}

.catalogo-content {
  padding: 30px 100px;
}

.categorie-row{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  width: 100%;
}

.categoria-content {
  display: flex;
  flex-direction: column;
  a {
    margin: 5px 0px;
    color: $dark-green;
  }
  a:hover {
    text-decoration: none;
    color: $dark-green;
    font-weight: bolder;
  }
}

.spacing-5 {
  margin: 5px 0px;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  margin: 15px;
  background-color: #CCCACC;
  padding: 10px;
  width: 500px;
  text-align: center;
}

.categoria-header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border-bottom: solid 1px;
  font-weight: bold;
  color: $dark-green;
}

/* Dropdown menu */
.accordion-menu {
  margin-top: 15px;
  border-color: $yellow;
  background-color: $yellow;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.accordion-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $black !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
