/* .flowerslab-bg {
  background-image: url("bg8.jpg");
  background-size: cover;
} */
.flowerslabdeco {
  width: 30%;
  text-align: center;
}

.flowerslablogo{
  width: 100%;
}

.bg-opacity {
  padding-top: 5px;
  background-color: rgba(61, 62, 42, 0.8);
  display: flex;
  flex-direction: column;
}

.ig-feed-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  img {
    width: 123.33px;
    height: 123.33px;
    margin: 2px;
    object-fit: cover;
  }
}

.ig-grid-fixer {
  display: none;
  }


@media only screen and (max-width: 600px)  {
  .bg-lab {
    background-position: top right;
  }
  .info-box {
    padding: 1px;
  }
  .bg-opacity{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4px;
    margin: 6px;
  }
  .ig-feed-container {
    max-width: 90%;
    grid-template-columns: auto auto;
    img {
      max-width: 100%;
      margin: 1px;
      object-fit: cover;
    }
    a:hover, a:active, a:visited {
        text-decoration: none;
      color: rgba(192, 192, 192, 0.7);

      }
  }
  .ig-grid-fixer {
    display: block;
    background-color: rgba(225, 225, 225, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgba(192, 192, 192, 0.7);
  }

}
