.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  margin: 0px;
  max-width: 500px;
}

.carousel-item {
  max-width: 500px;
}

#giardini-text {
  color: white;
}

.photos {
  text-align: center;
  img {
    width: 1000px;
  }
}

.ruota {
  -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
}
