.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  margin: 0px;
  max-width: 500px;
}

.carousel-item {
  max-width: 500px;
}

#giardini-text {
  color: white;
}

.photos {
  text-align: center;

  img {
    width: 1000px;
  }
}

.ruota {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.gardens-intro {
  position: fixed;
  top: 150px;
  max-width: 25vw;
}

.gardens-display {
  text-align: right;
}

.garden-photo {
  max-width: 70vw;
}

.garden-photo-section {
  margin: 50px 0px 100px 0px;

}

.garden-admin-buttons {
  position: relative;
  bottom: -50px;
  right: 10px;
}

#garden-preview {
  max-height: 300px;
  max-width: 300px;
}
