.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  margin: 0px;
  max-width: 500px;
}

.carousel-item {
  max-width: 500px;
}

#giardini-text {
  color: white;
}

.photos {
  text-align: center;
  img {
    width: 1000px;
  }
}
