// Specific CSS for your home-page
/* div {
  border: 0.5px black solid;
} */

.home-bg {
  background-image: url("bg1.jpg");
  background-size: cover;
}

.page-wrapper {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.banner-text {
  font-family: "Roboto", Georgia, Serif;
  font-size: 30px;
  text-align: center;
}

/* SIDEBAR STYLING */
/* div {
  border: black 1px solid;
}
 */
.sidebar {
  width: auto;
  min-height: auto;
}

.left-side-logo {
  text-align: center;
  img {
    width: 200px;
  }
}

.side-text-box{
  padding: 30px;
  font-size: 15px;
}

.info-box {
  margin: 30px;
  padding-top: 40px;
  color: white;
  font-size: 17px;
  text-align: justify;
}

.left-side-bottom {
  display: flex;
  justify-content: center;
}
