// Specific CSS for your home-page
/* div {
  border: 0.5px black solid;
} */

.home-bg {
  background-image: url("bg1.jpg");
  background-size: cover;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.banner-text {
  font-family: "Roboto", Georgia, Serif;
  font-size: 30px;
  text-align: center;
}

/* SIDEBAR STYLING */

.info-box {
  padding: 70px 30px 30px 30px;
  color: white;
  font-size: 17px;
  text-align: justify;
  h1 {
    color: black;
    text-align: justify;
    font-weight: bold;
  }
}

.left-side-bottom {
  display: flex;
  justify-content: center;
}

.orange-text {
  color: $orange;
}

.home-title {
  width: max-content;
}
