// Specific CSS for your home-page
/* div {
  border: 0.5px black solid;
} */

// body {
//   background-image: url("bg1.jpg");
//   background-size: cover;
// }

.page-wrapper {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  padding: 30px;
  text-align: center;
}

.banner-text {
  font-family: "Roboto", Georgia, Serif;
  font-size: 30px;
  text-align: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
}

.carousel {
  margin: 0px;
  max-width: 500px;
}

.carousel-item {
  max-width: 500px;
}
