@media only screen and (max-width: 600px) {
  .catalogo-content {
   padding: 0px;
  }
  .categoria-header {
    border-top: dotted 0.5px rgba(0, 0, 0, 0.5);
    border-bottom: 0px;

  }
  .categoria-content{
    margin-bottom: 40px;
  }
  .plant-card {
    transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9); /* IE 9 */
  -webkit-transform: scale(0.9, 0.9); /* Safari and Chrome */
  -o-transform: scale(0.9, 0.9); /* Opera */
  -moz-transform: scale(0.9, 0.9); /* Firefox */
  }
}

.my-flex-card > div > div.card {
    height: calc(100% - 15px);
    margin-bottom: 15px;
}
