@media only screen and (max-width: 600px) {
  .catalogo-content {
    padding: 10px 5px;
  }

  .categoria-header {
    border-top: dotted 0.5px rgba(0, 0, 0, 0.5);
    border-bottom: 0px;

  }

  .categoria-content {
    margin-bottom: 40px;
  }

  .gardens {}

  .gardens-intro {
    position: initial;
    margin: 10px 0px 30px 10px;
    font-size: 33px;
  }

  .gardens-display {
    text-align: center;
    margin-top: 0px;
  }

  .garden-photo {
    max-width: 100vw;
  }

  .garden-photo-section {
    margin: 20px 0px 0px 0px;

  }
}
