/* .ortodeifiori-bg {
  background-image: url("bg8.jpg");
  background-size: cover;
} */
.ortodeifiori-deco {
  width: 30%;
  text-align: center;
}

.ortodeifiori-logo{
  width: 100%;
}

.bg-opacity {
  padding-top: 5px;
  background-color: rgba(61, 62, 42, 0.8);
  display: flex;
  flex-direction: column;
}

.ig-feed-container {
  align-self: center;
  display: inline-grid;
  grid-template-columns: auto auto auto;
  img {
    width: 140px;
    height: 140px;
    margin: 2px;
    object-fit: cover;
  }
}

.ig-grid-fixer {
  display: none;
  }

.flowers-photos {
  align-self:center;
  display: grid;
  grid-template-columns: auto auto;
  img {
    width: 200px;
    height: 200px;
    margin: 5px;
    object-fit: cover;
  }
}

.bg-lab {
  background-repeat: no-repeat;
  background-attachment: fixed;
}


@media only screen and (max-width: 600px)  {
  .bg-lab {
    background-position: top right;
  }
  .info-box {
    padding: 1px;
  }
  .bg-opacity{
    background-color: rgba(0, 0, 0, 0.7);
    padding: 6px 6px 25px 6px;
    margin: 2px 10px 0px 10px;
  }
  .ig-feed-container {
    max-width: 90%;
    grid-template-columns: auto auto;
    img {
      max-width: 100%;
      margin: 1px;
      object-fit: cover;
    }
    a:hover, a:active, a:visited {
        text-decoration: none;
      color: rgba(192, 192, 192, 0.7);

      }
  }
  .ig-grid-fixer {
    display: block;
    background-color: rgba(225, 225, 225, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    color: rgba(192, 192, 192, 0.7);
  }

  .flowers-photos {
    img {
      height: 170px;
      width: 170px;
      margin: 3px;
    }
  }

}
