/* .wrapper {
  display: flex;
  flex-direction: row;
} */

body {
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
  a:hover{
    color: $orange;
    text-decoration: none;
    font-weight: bold;
  }
}

.left-side {
  width: 490px;
  min-height: 200px;
}

.bg {
  background-size: cover;
  background-position: center;
  background-color: $dark-green;
}

.white-bg {
  background-color: #ebebcb;
  min-height: 50vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.page-wrapper-row {
  display: flex;
  width: 100%;
  padding: 30px;
}

.right-side {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.width-50 {
  width: 50%;
}

.banner {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
}

.title {
  width: max-content;
}

.content {
  margin-top: 50px;
  img {
    max-width: 100%;
  }
}

.text-center {
  text-align: center;
}


