/* .wrapper {
  display: flex;
  flex-direction: row;
} */
html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Muli', sans-serif;

  a:hover {
    color: #F15014;
  }
}

.left-side {
  width: 490px;
  min-height: 200px;
}

.bg {
  background-size: cover;
  background-position: center;
  background-color: $dark-green;
}

.white-bg {
  background-color: #ebebcb;
  min-height: 50vh;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
}

.page-wrapper-row {
  display: flex;
  width: 100%;
  padding: 30px;
}

.right-side {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
}

.width-50 {
  width: 50%;
}

.banner {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.title {
  width: max-content;
}

.content {
  margin-top: 50px;

  img {
    max-width: 100%;
  }
}

.text-center {
  text-align: center;
}

.admin-buttons {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  border: solid 1px #4c4c4c;
  // border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  // box-shadow: 15px 20px 5px rgba(0,0,0,0.1);
  background-color: #e5e5e5;
  width: 100%;
  max-width: 800px;
  padding: 20px;

  p {
    margin-bottom: 30px;
  }
}

.margin-3 {
  margin: 5px;
}
