@media only screen and (max-width: 600px) {

body {
  overflow-x: hidden;
}
  .left-side {
    width: 100%;
  }
  .title {
    width: 100%;
    h1 {
      text-align: center;
    }
  }
  .page-wrapper {
    padding: 0px;
  }

  .white-bg {
    padding: 10px 0px;
  }

  .container{
    min-width:100% !important;
    max-width:100% !important;
  }
  .big-img-resize {
    max-width: 90%;
  }
  h1 {
    text-align: left;
  }

  .column-center {
    // max-height: 100px;
  }

}


