.bright-blue-text {
  color: $light-blue-bright;

  &:hover {
    color: $light-blue-bright !important;
  }

  &:active {
    color: $light-blue-bright !important;
  }

  &:focus {
    color: $light-blue-bright !important;
  }

  &:visited {
    color: $light-blue-bright !important;
  }
}


@media only screen and (max-width: 800px) {
  .page-wrapper-row {
    flex-direction: column;
  }

  .admin-buttons {
    margin: 0px;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {

  .left-side {
    width: 100%;
  }

  .title {
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  .page-wrapper {
    padding: 0px;
  }


  .white-bg {
    padding: 10px 0px;
  }

  .container {
    min-width: 100% !important;
    max-width: 100% !important;
  }

  .big-img-resize {
    max-width: 90%;
  }

  h1 {
    text-align: left;
  }

  .content {
    margin-top: 30px;

    h1 {
      margin-top: 0;
    }
  }
}
