<div class="event-box">
  <div class="pica m-3">Prossimo evento: </div>
  <div class="m-3"><%= event.title %> </div>
  <div class="m-3">
    <%= link_to "Vedi di più...", vivaio_event_path(event), class: 'orange-link' %>
  </div>
  <hr class="hrstyle" />
  <div class="m-3">
    <%= link_to "Altri eventi", vivaio_events_path, class: 'orange-link' %>
  </div>
</div>
