<div class="event-box">
  <span class="small-caps bold">Prossimo evento: </span><br/>
  <%= event.title %> <br/>
  <%= link_to "Vedi di più...", vivaio_event_path(event), class: 'orange-link' %> <br/>
  <%= link_to "Altri eventi", vivaio_events_path, class: 'orange-link' %>

</div>
