<div class="event-box" id="eventBox">
  <button onclick="dismissEvent()" class="close" type="button" data-dismiss="event-box" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <div class="pica fs-2 m-3">Prossimo evento: </div>
  <div class="fs-1 m-3"><%# link_to "#{event.title }", vivaio_event_path(event), class: 'orange-link'%>
  <%= event.title %></div>
  <div class="m-3">
    <%= link_to "Vedi di più...", vivaio_event_path(event), class: 'orange-link small-caps' %>
  </div>
  <hr class="hrstyle" />
  <div class="m-3">
    <%= link_to "Altri eventi", vivaio_events_path, class: 'orange-link small-caps' %>
  </div>
</div>
