<div class="footer">
  <div class="info-box" id="orari">
    <p>Gli orari del vivaio</p>
    <p>Venerdì-Sabato<br>
    9.00-12-30<br>
    15.30-tramonto</p>

    <p>Dicembre-Gennaio e Agosto<br>
    chiuso</p>
    <p>Febbraio su appuntamento</p>

    <%= link_to "Dove Siamo", contatti_path %><br>
    <%= link_to "Come Acquistare", "" %>
  </div>
  <div class="info-box" id="social media">

  </div>
  <div class="info-box" id="bonus-verde">

  </div>
  <div class="info-box" id="acquista-online">

  </div>
</div>
