<div class="footer">
  <div class="info-box">
    <p>GLI ORARI DEL VIVAIO</p>
    <p>VENERDI-SABATO<br>
    9.00-12-30<br>
    16.00-tramonto</p>

    <p>DICEMBRE-GENNAIO e AGOSTO<br>
    CHIUSO</p>
    <p>FEBBRAIO SU APPUNTAMENTO</p>

    <%= link_to "Dove Siamo", contatti_path %><br>
    <%= link_to "Come Acquistare", "" %>
  </div>
</div>
