<div class="banner bottom-content" style="background-image:url(<%= asset_path "eventi.jpg" %>)">
  <div class="banner-text">
    <p>EVENTI</p>
  </div>
</div>
<div class="banner bottom-content" style="background-image:url(<%= asset_path "newsletter.jpg" %>)">
  <div class="banner-text">
    <p>NEWSLETTER</p>
  </div>
</div>
