<div class = "sidebar">
  <div class="left-side-text">
    <div class="side-text-box">
      <%= yield :left_side_text %>
    </div>
  </div>
  <div class="left-side-bottom">
    <div class="info-box">
      <p>GLI ORARI DEL VIVAIO</p>
      <p>VENERDI-SABATO<br>
      9.00-12-30<br>
      16.00-tramonto</p>

      <p>DICEMBRE-GENNAIO e AGOSTO<br>
      CHIUSO</p>
      <p>FEBBRAIO SU APPUNTAMENTO</p>

      <%= link_to "Dove Siamo", "" %><br>
      <%= link_to "Come Acquistare", "" %>
    </div>
  </div>
</div>
