.nascosta {
  color: #E6E6FA;
}

.navigation-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.catalogo-filters-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 20px 0px;
}

.catalogo-filters-content {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin: 5px;
  a {
    margin: 5px;
  }
  label {
    margin: 5px;
    font-weight: normal;
  }
}

.breadcrumbs {
  ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
  }
  li {
    font-family: 'Muli Light', sans-serif;
  }
}

.breadcrumbs li::before {
  content: " » ";
}

.breadcrumbs li:first-child::before {
    content: "";
}

.bc-active {
  padding-left: 5px;
}

@media only screen and (max-width: 1285px) {
  .catalogo-filters-grid {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 810px) {
  .catalogo-filters-grid {
    display: grid;
    grid-template-columns: auto;
  }

  .catalogo-filters-content {
    display: grid;
    grid-template-columns: 110px 200px;
  }
}
