.filters {
  background-color: rgba(78, 76, 43, 0.1);
  text-align: center;
  margin: 0 -100px;
}

.nascosta {
  color: #E6E6FA;
}

.navigation-box {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.catalogo-filters-grid {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 10px 0;
}

.catalogo-filters-content {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin: 5px;

  select {
    width: 200px;
    border: none;
    background-color: #ebebcb;
    border-radius: 2px;
    box-shadow: 0px 1px #c6c6c2;
    padding: 4px;
  }

  a {
    margin: 5px;
  }

}

.breadcrumbs {
  ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
  }

  li {
    font-family: 'Muli Light', sans-serif;
  }
}

.breadcrumbs li::before {
  content: " » ";
}

.breadcrumbs li:first-child::before {
  content: "";
}

.bc-active {
  padding-left: 5px;
}

.plants-grid {
  display: grid;
  grid-template-columns: auto auto;
}

@media only screen and (max-width: 1285px) {
  .catalogo-filters-grid {
    grid-template-columns: auto auto auto;
  }
}

@media only screen and (max-width: 810px) {
  .filters {
    margin: 0 -5px;
  }

  .catalogo-filters-grid {
    display: grid;
    grid-template-columns: auto;
  }

  .catalogo-filters-content {
    display: grid;
    grid-template-columns: 110px 200px;
  }

  .catalogo-mobile {
    text-align: center;
    font-size: 28pt;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media only screen and (max-width: 1000px) {
  table {
    width: auto;
  }

  .catalogo-admin-content {
    padding: 10px 0px;
  }
}

@media only screen and (max-width: 770px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
