.flexy {
  display: flex;
  height: 100%;
}

.pianta-content img {
  max-height: 50vh;
  width: auto;
}

.pianta-bottom {
  align-self: flex-end;

  .content {
    .info {
      line-height: 2;
    }

    ul {
      list-style: none;
    }

    form {
      display: flex;
    }
  }
}
