<div class="bg">
  <%= render 'shared/navbar' %>
  <div class="page-wrapper white-bg">
    <div class="container">
      <h3 class="text-center">Inserisci i tuoi dati per l'ordine</h3>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>