<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="container">
      <h1>L'Abbonamento Millefoglie Flowerslab</h1>
      <p>Regalati fiori a domicilio: fiori belli, di stagione, coltivati locamente.</p>
      <p>Noi ne facciamo un bouquet e li consegniamo, quando vuoi tu!</p>

      <p>Puoi scegliere di fare un abbonamento ( a cadenza settimanale, mensile...) e le dimensioni del mazzo (da 10, da 20 euro...). A tutto il resto penseremo noi.</p>

      <p>Se vuoi fare un regalo: è semplice!</p>
      <ol>
        <li>Acquisti una card abbonamento.</li>
        <li>La consegni  con un biglietto di auguri che ti forniamo noi.</li>
        <li>Chi la riceve dovrà solo contattarci per  attivare l'abbonamento e concordare le modalità di consegna.</li>
      </ol>
      <p>Le consegne dei fiori in abbonamento vengono fatte il giovedì o il venerdì.</p>
    </div>
  </div>
</div>
