<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="white-bg">
    <div class="container">
      <h2>IL BONUS VERDE PER IL 2018</h2>
      <p>Dal primo gennaio 2018, con l'entrata in vigore della legge finanziaria, è stato introdotto il bonus verde per giardini e terrazzi.</p>
      <p>Il bonus verde è un sostegno alla spesa per chi si dedica al giardinaggio, ma anche un incentivo verso tutto ciò che può contribuire al miglioramento della qualità dell'aria, dell'ambiente e, in fondo, della qualità di vita di tutti.</p>
      <p>Attraverso questo strumento, è possibile detrarre il 36% delle spese sostenute per la creazione, ristrutturazione, cura e manutenzione del verde privato, cioè terrazzi e giardini anche condominiali.</p>
      <p>Le spese vanno documentate e hanno un tetto massimo di 5mila euro per ogni unità immobiliare.</p>
      <h3>L'importo da detrarre</h3>
      <p>L’importo che si potrà detrarre dall'Irpef è pari al 36% delle spese sostenute, da ripartire in 10 quote annuali. Andranno documentate le spese destinate a interventi quali “sistemazione a verde di aree scoperte private di edifici esistenti, unità immobiliari, pertinenze o recinzioni, impianti di irrigazione e realizzazione di pozzi” ed anche “realizzazione di coperture a verde e di giardini pensili” o “progettazione e manutenzione di questi interventi”. La spesa massima agevolabile sarà di 5mila euro per unità immobiliare a uso abitativo. Quindi per un'abitazione l'importo massimo detraibile sarà di 1.800 euro.</p>
      <p>Le spese, inoltre, devono essere pagate ed essere effettivamente a carico del contribuente (al netto, quindi, di eventuali altri contributi o incentivi) che possiede (in proprietà, nuda proprietà, diritto reale, cioè uso, usufrutto o abitazione), o detiene (per esempio, l’inquilino o il comodatario), l’immobile sul quale saranno effettuati gli interventi.</p>
      <h3>Per cosa può essere richiesto il bonus verde</h3>
      <p>Gli interventi per poter usufruire del bonus verde possono riguardare:</p>
      <ul>
        <li>acquisto di piante</li>
        <li>progettazione e creazione di giardini e terrazzi</li>
        <li>manutenzione del verde e potature</li>
        <li>giardini pensili</li>
        <li>coperture a verde</li>
        <li>impianti di irrigazione</li>
      </ul>
      <h3>I destinatari dell'agevolazione</h3>
      <p>I soggetti agevolati sono solo quelli che pagano l’Irpef, cioè le persone fisiche, i professionisti e gli imprenditori individuali, familiari o coniugali, oltre che i soci delle società semplici, Snc e Sas e i soggetti equiparati.</p>
      <h3>Agevolazioni e spese condominiali</h3>
      <p>Le agevolazioni valgono anche per le spese sostenute dal condominio? Sì, anche le spese sostenute dal condominio per questi interventi, effettuati sulle parti comuni esterne (fino a un importo massimo di 5mila euro per unità immobiliare a uso abitativo) sono detraibili al 36% dai singoli condòmini, a patto che versino la relativa quota condominiale entro il termine di presentazione del 730/2019 o del modello Redditi 2019.</p>
      <p>Il pagamento per cui viene richiesta la detrazione, che deve avvenire nel 2018, deve essere effettuato con bonifico “parlante” o altri metodi di pagamento idonei a consentire la tracciabità.</p>
      <h3>Come effettuare il bonifico parlante</h3>
      <p>Il bonifico parlante è un normale bonifico che deve contenere nella causale la seguente dicitura:</p>
      <p>Bonifico relativo a lavori di manutenzione del giardino che danno diritto alla detrazione del 36% prevista dalla LEGGE 27 dicembre 2017, n. 205  (Bilancio di previsione dello Stato per l'anno finanziario 2018 e bilancio pluriennale per il triennio 2018-2020) art. 1 commi 12-15</p>
      <h4>PER MAGGIORI INFORMAZIONI NON ESITATE A CONTATTARCI!!</h4>
    </div>
  </div>
</div>
