<div class="container">
  <div class="admin-buttons">
    <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
  </div>

  <div class="catalogo-content text-center">
    <h2>Scegli una categoria</h2>
    <div id="categorie">
      <div class="categoria-catalogo">
        <h4>Alberi, arbusti e rampicanti</h4>
      </div>
      <div class="categoria-catalogo">
        <h4>Erbacee perenni</h4>
      </div>
      <div class="categoria-catalogo">
        <h4>Graminacee</h4>
      </div>
    </div>
    <h2>Oppure vedi tutto il <%= link_to "catalogo", plants_path %>.</h2>
  </div>
</div>
