<div class="container">
  <div class="admin-buttons">
    <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
  </div>

  <div class="catalogo-content">
   <p>Oppure visita tutto il <%= link_to "catalogo", plants_path %></p>
  </div>
</div>
