<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="container">
      <p>Il vivaio Millefoglie effettua la vendita di piante per corrispondenza o direttamente in vivaio.</p>
      <h3>VENDITA IN VIVAIO</h3>
      <p>Se scegliete di acquistare le piante direttamente in vivaio potete trovare tutte le informazioni su come raggiungerci e sui nostri orari di apertura alla pagina CONTATTI </p>
      <h3>VENDITA PER CORRISPONDENZA</h3>
      <p>La vendita per corrispondenza viene effettuata preferibilmente da NOVEMBRE a MARZO, periodo nel quale le piante sono in riposo vegetativo.</p>
      <p>Potete tuttavia ordinare le piante in qualunque momento e scegliere se riceverle in un determinato periodo, se lasciare a noi la scelta oppure se ritirarle presso il nostro stand durante una delle mostre alle quali partecipiamo in primavera e in autunno.</p>
      <p>Per effettuare l’ordine e l’acquisto delle piante, seguite questi semplici passaggi.</p>
      <ul>
        <li>scegliete le piante che vi interessano dal CATALOGO e aggiungetele al carrello;</li>
        <li>concludete l'ordine inserendo i vostri dati, il metodo di pagamento prescelto e il periodo in cui preferite ricevere le piante e inviate il tutto;</li>
        <li>attendete la nostra CONFERMA D’ORDINE attestante la disponibilità delle piante, il periodo di spedizione e l’importo totale dell’ordine.</li>
      </ul>
      <h3>Modalità di spedizione</h3>
      <p>Salvo diversa indicazione o richiesta da parte vostra, la spedizione viene effettuata con corriere espresso ad inizio settimana.</p>
      <p>Eventuali varietà esaurite NON verranno sostituite salvo diversa richiesta da parte Vostra.</p>
      <p>In caso invece di esaurimento di una varietà nella misura del vaso indicata nel catalogo, effettueremo la sostituzione con la misura disponibile e con il conseguente adeguamento di prezzo.</p>
      <p>Il costo di spedizione varia in base al numero dei colli e al loro peso e può andare da un minimo di €11,00  ad un massimo di €16,00 per collo.</p>
      <p>Per aiutarvi a fare una stima approssimativa dei costi di spedizione, indichiamo qui di seguito il peso approssimativo dei vasi da noi maggiormente utilizzati:</p>
      <ul>
        <li>pianta in vaso quadro da 9cm 350-400gr.</li>
        <li>pianta in vaso tondo diam. 13cm. 900-950gr.</li>
        <li>pianta in vaso tondo diam. 15cm. 1.100-1.200gr.</li>
      </ul>
      <p>Sarà nostra cura comunicarVi, nella conferma d'ordine, il costo complessivo per le spese di imballo e spedizione.</p>
      <h3>Modalità di pagamento</h3>
      <p>Il pagamento può essere effettuato in CONTRASSEGNO, con una aggiunta di €5,00 (contributo fisso) al totale delle spese di spedizione, o tramite BONIFICO BANCARIO intestato a Filippo Alossa presso Banca di Asti IBAN: IT73G0608547590000000032647. In caso di pagamento tramite bonifico bancario E’ NECESSARIO che ci mandiate via mail copia della ricevuta di avvenuto pagamento, al ricevimento della quale provvederemo alla spedizione del pacco.</p>
      <p>Per ordini superiori ai 150€ si accetta solo il pagamento tramite bonifico bancario.</p>
      <h4><%= link_to 'Vai al catalogo', catalogo_intro_path, class: "orange-text" %></h4>
    </div>
  </div>
</div>
