<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="container">
      <h1>Condizioni di vendita</h1>
      <ol>
        <li class="p-4">I prezzi indicati sono tutti espressi in Euro e  si intendono franco vivaio. Tali prezzi sono comprensivi di IVA nella misura del 10% e 22% secondo la categoria merceologica cui appartengono i vari articoli. Qualora successivamente alla pubblicazione del catalogo dovessero verificarsi variazioni delle aliquote I.V.A., il Vivaio Millefoglie si riserva di apportare ai prezzi le dovute rettifiche.</li>
        <li class="p-4">I prezzi dei Prodotti non sono comprensivi delle Spese di consegna il cui importo verrà comunque comunicato al Cliente nella conferma d'ordine che riceverà all'indirizzo di posta elettronica indicato.</li>
        <li class="p-4">Il Vivaio Millefoglie non risponde di eventuali disguidi dipendenti da errata comunicazione dell'indirizzo di spedizione; la merce viaggia a rischio e pericolo del Committente e non si accettano reclami per ritardi, avarie e perdite derivanti dai trasporti; detti reclami debbono essere fatti al corriere prima del ritiro della merce.</li>
        <li class="p-4">Il pagamento può essere effettuato tramite SATISPAY, o tramite BONIFICO BANCARIO intestato a Filippo Alossa presso Banca di Asti IBAN: IT73G0608547590000000032647. In caso di pagamento tramite bonifico bancario E’ NECESSARIO che ci mandiate via mail copia della ricevuta di avvenuto pagamento, al ricevimento della quale provvederemo alla spedizione del pacco.
          <p>Per ordini superiori ai 150€ si accetta solo il pagamento tramite bonifico bancario.</p>
        </li>
        <li class="p-4">Eventuali contestazioni e/o reclami dovranno essere effettuate al Vivaio Millefoglie al momento del ricevimento della merce o al massimo entro tre giorni dallo stesso; in caso contrario la merce stessa si intende accettata alla consegna.</li>
      </ol>
    </div>
  </div>
</div>