<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  <div class="page-wrapper white-bg">
    <div class="container">
      <h1>Contatti & Dove Trovarci</h1>
    </div>
  </div>
</div>
