<div class="bg">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="page-wrapper white-bg">
    <div class="container text-center">
      <h1>Eventi</h1>
      <div class="catalogo-banner text-center">
        <h2>Pagina in costruzione... tornate a trovarci!</h3>
      </div>
      <%= image_tag "Logo_2.png" %>
    </div>
  </div>
</div>
