<div class="banner" style="background-image:url(<%= asset_path "4.jpg" %>)">
  <div class="banner-content text-center">
    <h1>Vivaio Millefoglie</h1>
    <p>Visita il nostro catalogo online!</p>
  </div>
</div>
