<div class="catalogo-content white-bg">
  <%= link_to "Torna indietro", catalogo_path %>
  <div class="row">
    <% @plants.each do |plant| %>
    <% if plant.nascondi? == false %>
      <div class="col-xs-12 col-sm-4">
        <%= render "plants/card", plant: plant %>
      </div>
    <% end %>
    <% end %>
  </div>
</div>

