<% content_for(:title_tag) do %>
  Acquista piante online | Vivaio Millefoglie
<% end %>
<% content_for :meta_title, "Vendita piante online | Vivaio Millefoglie" %>
<% content_for :meta_description, "Vendita in vivaio e online di erbacee perenni, graminacee ornamentali e annuali da fiore. Piante per attirare insetti e uccelli in giardino, per migliorare in modo naturale il suolo (azotofissatrici, coprisuolo), per sopportare siccità e arido, piante spontanee..." %>

<h4><%= @pagy.count %> risultati</h4>
<div class="row g-0">
  <% @plants.each do |plant| %>
    <div class="col-xs-6 col-lg-4">
      <%= render "plants/card2", plant: plant %>
    </div>
  <% end %>
</div>
<div class="navigation-box">
  <%= render 'shared/pagination', pagy: @pagy %>
  <%= render 'shared/back_button' %>
  <button onclick="topFunction()" id="topBtn" title="Torna su">&#8673;</button>
</div>
