<div class="catalogo-content" style="background-color: white">
  <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "plants/card", plant: plant %>
      </div>
    <% end %>
  </div>
</div>

