<div class="container">
  <div class="admin-buttons">
    <%= link_to "Crea nuova pianta", new_plant_path, class: "btn btn-success" %>
  </div>

  <div class="catalogo-content">
    <h1>Catalogo</h1>
    <ul>
      <% @plants.each do |pianta| %>
        <li>
         <% if pianta.nascondi? %>
           NASCOSTA
         <% end %>
          <%= link_to pianta.name, plant_path(pianta.id) %>
          <!-- Turns Rails timestamps into European format, setup in en.yml -->
          Ultimo aggiornamento: <%= l pianta.updated_at, format: :euro %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
