<div class="event-card">
  <div class="event-cover-photo">
    <% if event.content.body.attachments()[0].present? %>
      <!-- takes the first attached image: -->
      <%= image_tag url_for(event.content.body.attachments()[0]) %>
    <% end %>
  </div>
  <div class="event-card-description">
    <div class="event-card-date">
      <p class="small-caps"><%= format_event_date event.data_evento, :event_short %></p>
    </div>
    <div class="event-card-title">
      <%= event.title %>
    </div>
  </div>
</div>