#blank-title {
  display: none;
}

.events-grid {
  margin: 6vh 0;
}

.event-admin-buttons {
  position: absolute;
  top: 35px;
  z-index: 20;
}

.event h3 {
  color: $purple;
  margin: 7vh 0;
}

.event {
  margin-bottom: 6vh;
  font-size: 1.2em;
}

.event-title {
  text-align: center;
}

.left-side-events {
  width: 800px;
  min-height: 45vh;
}

.eventi-index-link a{
    background-color:rgba(255,255,255,0.5);
    padding: 3px;
    float: right;
  }

.date-grid {
  display: inline-grid;
  grid-template-columns: auto inherit;
  grid-template-rows: auto auto;
}

@media only screen and (max-width: 1024px) {
  .left-side-events {
    width: 100%;
    padding: 0px 5px;
  }
}


@media only screen and (max-width: 700px) {
  .event-card-title {
    font-size: 20px;
    font-weight: bold;
  }

  .event-card-description {
    max-height: 4.5em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 414px) {
  .event-card {
    grid-template-columns: auto;
    grid-template-rows: 250px auto;
  }

  .event-cover-photo img{
    height: 100%;
    display: block; /* remove extra space below image */
    object-position: 50% 100%;
    object-fit: scale-down;
  }

  .event-card-title {
    font-size: 20px;
    font-weight: bold;
  }

  .event-card-description {
    max-height: 4.5em;
    margin-bottom: 10px;
  }

  .event-card-button {
    bottom: -20px;
    right: 0px;
  }

  .event-title {
    font-size: 24px;
  }

  .event {
    h3 {
      margin: 4vh 0;
      font-size: 22px;
    }
    font-size: 1em;
    margin-bottom: 5vh;
  }

  .event-title {
    text-align: left;
  }
}

