#blank-title {
  display: none;
}

.events-grid {
  margin: 6vh 0;
}

.event-admin-buttons {
  position: absolute;
  top: 35px;
  display: none;
}

.event h3 {
  color: $purple;
  margin: 7vh 0;
}

.event {
  margin-bottom: 6vh;
}
