.footer {
  background-color: $dark-green;
  color: $yellow;
  font-family: "Montserrat", Sans-Serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-column {
  padding: 70px 30px 30px 30px;
  font-size: 14px;
  text-align: justify;
}

#social-media {
  a {
    color: $yellow;
    :hover {
      text-decoration: none;
      color: $orange;
    }
  }
  img {
    margin: 5px;
  }
 }

 #one {
  width: inherit;
  text-align: center;
 }

 #acquista-online {
  font-size: 30px;

  a:hover {
    text-decoration: none;
    font-weight: bold;
    color: $orange;
  }
 }

 .footer-bottom {
  font-size: 12px;
  text-align: center;
 }

 @media only screen and (max-width: 600px) {
  .footer-column {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #links {
    text-align: justify;
  }
 }
