.footer {
  background-color: $dark-green;
  color: $yellow;
  font-family: "Montserrat", Sans-Serif;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer-column {
  padding: 70px 30px 30px 30px;
  font-size: 14px;
  text-align: justify;
}

#social-media {
  text-align: center;
  img {
    margin: 10px;
  }
 }
