/* div {
  border: black 1px solid;
} */

.nav-link {
  cursor: pointer;
  padding: 0 20px;
}

.right-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main navbar */
.navbar-wagon {
  /* box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03); */
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  padding: 3px 30px 10px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand {
  display: flex;
  justify-content: flex-end;

  img {
    height: 72px;
    margin-left: 50px;
    padding-top: 10px;
  }
}


/* Links sections */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  min-width: 150px;
}

/* Basic navbar item */
.navbar-wagon-item {

  padding: 0 20px;
  display: flex;
  align-items: baseline;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", Sans-Serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.light-blue-text {
  color: $light-blue;
  font-weight: lighter;
}

.bright-blue-text {
  color: $light-blue-bright;
  font-weight: lighter;

  a,
  a:hover:active:focus:visited {
    color: $light-blue-bright !important;

  }
}

.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}

.navbar-wagon-link:focus {
  color: $orange;
  text-decoration: none;
}

.uppercase-text {
  text-transform: uppercase;
}

.bolder-text {
  font-weight: 600;
}

.mobile-menu {
  position: fixed;
  top: 100px;
  right: 0px;
  width: 100vw;
  z-index: 100;

}

.mobile-nav-item {
  font-size: 26px;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

#mobileMenuBtn {
  font-size: 30px;
  font-weight: bold;
  padding: 0 10px;
  margin-right: 10px;
  z-index: 101;
}

.mobile-menu-content {
  background-color: $dark-green;
  list-style-type: none;
  border-top: solid 1px $yellow;
  border-bottom: solid 1px $yellow;
  max-height: calc(100vh - 100px);
  overflow-y: scroll;

  li {
    padding: 20px;
  }

  a {
    color: $yellow;
    font-variant: small-caps;
  }

}

.transition-25 {
  transition: transform .5s ease-out;
}

.mobile-menu-closed {
  transform: translate(100%);
}

.mobile-menu-open {
  transform: translate(0);
}

.modal-opaque-bg {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 98;
  background-color: rgba(45, 45, 45, .65);
  right: 0;
  transition: opacity .5s ease-in;
  cursor: default;
}

.no-scroll {
  overflow-y: auto;
  position: fixed;
}

#navbarSearch {
  opacity: .7;
}

$transparent-bg-dark: rgba(0, 0, 0, .2);
$search-padding: 20px;

#navbarSearchBox {
  display: none;
  position: fixed;
  top: 80px;

  input {
    background-color: $transparent-bg-dark;
    padding: $search-padding;
  }
}

.navbar-search {
  color: white !important;
  font-size: 20px;

}

.search-button-notbtn {
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: $transparent-bg-dark;
  padding: $search-padding;
}

@media only screen and (max-width: 1300px) {
  .navbar-wagon-link {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1030px) {
  .navbar-wagon-link {
    font-size: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-wagon-link {
    font-size: larger;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-wagon-brand {
    img {
      margin-left: 0px;
    }
  }

  .light-blue-text {
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
  }

  #mobile-menu-content {
    position: relative;
    top: 235px;
    right: 100px;
    z-index: 2;
  }
}

@media only screen and (max-width: 390px) {
  .navbar-wagon {
    padding: 5px;
  }

  .navbar-wagon-item {
    padding: 0px 5px;
  }
}
