/* div {
  border: black 1px solid;
} */

.nav-link {
  cursor: pointer;
  padding: 0 20px;
}

.right-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Main navbar */
.navbar-wagon {
  /* box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03); */
  max-height: 80px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  padding: 3px 30px 10px 30px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

/* Logo */
.navbar-wagon-brand {
  display: flex;
  justify-content: flex-end;
  img {
    height: 72px;
    margin-left: 50px;
    padding-top: 10px;
    }
}


/* Links sections */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  min-width: 150px;
}

/* Basic navbar item */
.navbar-wagon-item {
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: baseline;
}

/* Navbar link */
.navbar-wagon-link {
  color: white;
  font-size: 18px;
  font-family: "Montserrat", Sans-Serif;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.light-blue-text {
  color: $light-blue;
  font-weight: lighter;
}

.bright-blue-text {
  color: $light-blue-bright;
  font-weight: lighter;
}

.navbar-wagon-link:hover {
  color: $orange;
  text-decoration: none;
}

.navbar-wagon-link:focus {
  color: $orange;
  text-decoration: none;
}

.uppercase-text {
  text-transform: uppercase;
}

.bolder-text {
  font-weight: 600;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  background-color: $dark-green;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #F3F9D2 !important;
  font-size: 20px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: $orange !important;
}


.dropdown-toggle {
  color: $light-blue-bright;
}

@media only screen and (max-width: 1300px) {
  .navbar-wagon-link {
    font-size: 80%;
  }
}

@media only screen and (max-width: 1030px) {
  .navbar-wagon-link {
    font-size: 70%;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-wagon-link {
    font-size: larger;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-wagon-brand {
    img {
      margin-left: 0px;
    }
  }
  .light-blue-text {
    text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
  }

  #mobile-menu-content {
    position: relative;
    top: 235px;
    right: 100px;
    z-index: 2;
  }
}

@media only screen and (max-width: 390px) {
  .navbar-wagon {
    padding: 5px;
  }
  .navbar-wagon-item {
    padding: 0px 5px;
  }
}
