.search-bar {
  display: flex;
  color: $black;
  // font-size: 17px;
  // margin-top: 30px;

  #search {
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

  }
}

.search-element {}
