/* div {
  border: black 1px solid;
}
 */
.sidebar {
  width: auto;
  min-height: auto;
}

.left-side-logo {
  text-align: center;
  img {
    width: 200px;
  }
}

.side-text-box{
  padding: 30px;
  font-size: 15px;
}

.info-box {
  background-color: $light-green;
  margin: 30px;
  padding: 18px;
  font-size: 15px;
  text-align: center;
}

.left-side-bottom {
  display: flex;
  justify-content: center;
}
